.login-form{
    border-radius:10px;
    border:2px solid #930045;
    padding:50px;
    text-align:left;
    max-width:50%;
    margin:20px 0 20px 25%;
    font-weight:bold;
}

.form-input{
    width:100%;
}