.item{
    border:1px solid #930045;
    background-color:white;
    height:100%;
    text-decoration:none;
    box-shadow:3px 3px 5px black;
    border-radius:10px;
    overflow:hidden;
}

.item img{
    width:100%;
}

.item-image{
    width:100%;
    height:300px;
    background-size:100%;
    background-position:top center;
    background-repeat:no-repeat;
}

.item:hover .item-image{
    background-size:110%;
    transition:all 300ms;
}

.item-link{
    color: #444444;
    text-decoration:none !important;
}

.item-link:hover{
    color:#930045;
}

.item:hover{
    text-decoration:none;
    background-color:#FFE0EE;
    box-shadow:3px 4px 5px black;
    transition:all 300ms;
}

.item-description{
    padding:5px;
    height:100%;
    color:#930045;
    font-size:18px;
}
