.hero{
    padding:100px 0;
    background-color:rgb(150,0,0,.5);
    background-image:url('https://images.squarespace-cdn.com/content/v1/573397cbd210b8303bfaa9c7/1463104142957-N0DQX29M7CPXXB9ELRA4/ke17ZwdGBToddI8pDm48kBazdroW2AAnSUzwP2wegpx7gQa3H78H3Y0txjaiv_0fMpLXJDHshpzSe4ApxGrjXfk2Qojd2wpVPpfTYSBVGAbrfhFEOnb3zfIgwthTN8YWZGjoBKy3azqku80C789l0nQwvinDXPV4EYh2MRzm-RTDIM6eJ7oEPoi3bzQpsO7oaHg-Gos9voqEpQLC0hR21Q/AdobeStock_3049265.jpeg?format=1500w');
    background-size:cover;

}

.hero-callout{
    color:white;
    font-size:18px;
    font-weight:bold;
}