.search-wrapper{
position:absolute;
z-index:99;
width:100%;
}

.search-box,
.search-box input:focus{
    width:100%;
    background-color:transparent;
    border:0;
    color:white;
    font-size:18px;
    outline:none;
    border-bottom:1px solid white;
}
.search-icon{
    font-size:24px;
}

@media (max-width:576px){
.search-box{text-align:center;}
}