header{
    padding:15px 0;
    background-color:#930045;
    height:100px;
}

.shoppingcart-icon{
    background-color:white;
    padding:5px 10px;
}

.shoppingcart-icon i{
    color:#930045;
    font-size: 30px;
}
.your-portal:hover i,
.logout:hover i,
.cart:hover i
{
    transform: scale(1.25);
    padding:3px;
    transition:all 300ms;
}

.your-portal:hover:after {
    content: "Your Portal";
    display: block;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100px;
    background: white;
    color:#930045;
    box-shadow:2px 2px 3px black;
    padding:2px;
    border-radius:3px;
    transition:all 300ms;
}

.logout:hover:after {
    content: "Logout";
    display: block;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100px;
    background: white;
    color:#930045;
    box-shadow:2px 2px 3px black;
    padding:2px;
    border-radius:3px;
    transition:all 300ms;
}

.cart:hover:after {
    content: "View Cart";
    display: block;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100px;
    background: white;
    color:#930045;
    box-shadow:2px 2px 3px black;
    padding:2px;
    border-radius:3px;
    transition:all 300ms;
}